extends layout.pug

block content
    #map
    script(type='text/javascript').

        var corner1 = L.latLng(0, 0);
        var corner2 = L.latLng(600, 600)
        var bounds = L.latLngBounds(corner1, corner2);

        var towerIcon = L.icon({
          iconUrl: 'tower.png',
          iconSize: [22, 47],
          iconAnchor: [11, 23]
        });

        var map = L.map('map', {
            crs: L.CRS.Simple,
            zoom: 1.0,
            minZoom: 0.5,
            maxZoom: 4.5,
            zoomDelta: 0.5,
            zoomSnap: 0.5,
            touchZoom: true,
            maxBounds: bounds,
            maxBoundsViscosity: 0.1,
            center: [300, 300]
        });

        var bounds = [[-5.47,-1.89], [599.19,601.89]];
        var image = L.imageOverlay('Ignus_Map.jpg', bounds).addTo(map);

        var threeFive = L.latLng([ 300, 500 ]);
        var threeFour = L.latLng([ 300, 400 ]);
        var fourFive = L.latLng([ 400, 500 ]);
        var fourFour = L.latLng([ 400, 400 ]);

        // Create and add gridline layer
        var gridlines = !{JSON.stringify(gridlines)};
        var polylineArray = [];
        for (const gridline of gridlines) {
          var polyline = L.polyline([
            gridline.start,
            gridline.end
          ], {
            color: '#000000',
            weight: 1
          });
          polylineArray.push(polyline);
        }
        var gridLayer = L.layerGroup(polylineArray);
        gridLayer.addTo(map);

        // Create layer menu
        var overlays = {
          "<span class='layer-item'>Show Coordinate Grid</span>": gridLayer
        }
        L.control.layers(null, overlays).addTo(map);

        L.marker(threeFive, { icon: towerIcon }).bindPopup("<h4>Battle Plains of Talus</h4><p>Levels: 35-60</p>").addTo(map);
        L.marker(threeFour).bindPopup("3.00N, 4.00E").addTo(map);
        L.marker(fourFive).bindPopup("4.00N, 5.00E").addTo(map);
        L.marker(fourFour).bindPopup("4.00N, 4.00E").addTo(map);

        map.on('click', function(e){
            var coord = e.latlng;
            var lat = (coord.lat / 100).toFixed(2);
            var lng = (coord.lng / 100).toFixed(2);
            console.log(`Map click recorded, ${lat}N ${lng}E`);
        });
